*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100vh;
}

.dn { display: none !important }

#scene {
    min-width: 100%;
    height: 100%;

    overflow: hidden;

    display: block;
}

.layers {
    background-repeat: no-repeat;
    background-size: cover;
}

.background-layer {
    width: 110%;
    height: 110%;

    background-image: url("../img/mntn1_1.jpg");
    background-position: center;

    position: absolute !important;
    left: -5% !important;
    top: -5% !important;
}

.middle-right-layer {
    width: 110%;
    height: 110%;
    background-image: url("../img/mountain_PNG8.png");
    background-position: right;

    top: 15% !important;
}

.middle-left-layer {
    width: 110%;
    height: 120%;
    background-image: url("../img/1820501846-mirror.png");
    background-position: left;
    
    top: 10% !important;
    left: -10% !important;
}

.top-layer {
    width: 110%;
    height: 110%;

    background-image: url("../img/MOUNTAIN-3.png");
    background-position: center;

    bottom: -50% !important;
    top: auto !important;
    left: -10% !important;
}