<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тест parallax.js</title>

    {{ $sass := resources.Get "sass/main.scss" | resources.ToCSS (dict "targetPath" "css/style.css") }}
    <link rel="stylesheet" href="{{ $sass.Permalink }}">

</head>