<div id="scene" data-relative-input="true">
    <div class="layers background-layer" data-depth="0.1"></div>
    <div class="layers middle-right-layer" data-depth="0.3"></div>
    <div class="layers middle-left-layer" data-depth="0.6"></div>
    <div class="layers top-layer" data-depth="0.9"></div>
</div>